.navbar-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(4, 151, 151);
    align-items: center;
    width: 100%;
    font-size: medium;
    padding: 20px 32px 7px 20px;
}


.navbar-container ul{
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.navbar-container ul li{
    list-style: none;
}

.navbar-container ul li a{
    color: white;
    text-decoration: none;
    margin: 0;
}

.app-name{
    font-size: large;
    font-weight: bold;
    margin: auto;
}

.navbar-container ul li a.nav-items {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: medium;
    transition: color 0.3;
}

.navbar-container ul li a.nav-items::after{
    content: '';
    position: absolute;
    width: 0;
    left:0;

}


.card-container{
    display: flex;
    align-items: center;
}

.button-login{
    text-decoration: none;
    background-color: #54c248;
    color: white;
    border-radius: 24px;
    padding: 2px 12px;
    font-size: medium;
    font-weight: 600;
    margin-right: 12px;
}

#cart-icon{
    width: 28px;
    height: 28px;
}


#cart-total{
    font-size: medium;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 1px 8px;
    position: relative;
    top: -6px;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.box-element{
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba();
}

.thumbnail{
    height: 200px;
    border-radius: 16px;
}

.product-name {
    font-size: large;
    
}