<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %} 
            | Aprendiendo Flask
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>

        <!-- Cabecera de la pagina -->
        <header>
            <div id="logotipo">
                <!--Logo django-->

                <img src="{{ url_for('static', filename='img/flask.png') }}" />
                <h1>Aprendiendo Flask</h1>
            </div>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="/" >Inicio</a>
                </li>
                <li>
                    <a href="{{ url_for('crear_coche') }}" >Crear coche</a>
                </li>
                <li>
                    <a href="{{ url_for('coches') }}" >Coches</a>
                </li>
                <li>
                    <a href="{{ url_for('informacion') }}" >Informacion</a>
                </li>
                <li>
                    <a href="{{ url_for('contacto') }}">Contacto</a>
                </li>
                <li>
                    <a href="{{ url_for('lenguajes') }}" >Lenguajes de programacion</a>
                </li>
            </ul>
        </nav>
        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
        
        <div id="content">

            <div class="box">
                {% block content %}
                    <!--Codigo que viene de template-->
                    <strong>Contenido del bloque original!!!</strong>
                {% endblock %}
            </div>
        </div>

        <footer>
            Master en Python &copy; Cristian Gonzalez WEB - {{now.day}}/{{now.month}}/{{ now.year }}<!--Fecha y hora actual-->
        </footer>

        <hr/>
    
    </body>
</html>