*{
    margin: 0px;
    padding: 0px;

}

body {
    background-color: rgba(0, 0, 0, 0) !important;
}

img {
    height: 50px;
    width: 50px;
}

table {
    text-align: center;
}

table img{
     display: block;
     float: left;
}

thead {
    line-height: 40px;
}

thead tr.table-primary{
    text-align: center;
    size: 15px;
}

