{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="grid-container">
    {% for product in products %}
        <div class="box-element product">
            <img class="thumbnail" src="{{product.imageURL}}" alt="product">
            <h6 class="product-name">{{product.name}}</h6>
            <hr>
            <div class="product-footer">
                <div class="button-group">
                    <button data-product="{{product.id}}" data-action="add" class="button-add update-cart">Add to cart</button>
                    <a class="button-view" href="#">View</a>
                </div>
                <h4 class="price">${{product.price|floatformat:2}}</h4>
            </div>
        </div>
    {%  endfor %}
</div>
{% endblock content %}

